.addcampbtn {
    font-weight: bold !important;
    transition: background 1s ease, border-radius 0.5s ease !important;
}

.addcampbtn:hover {
    border-radius: 10px !important;
    background: #1530c7
}